<div class="wrapper bg-light vh-100 d-flex justify-content-center align-items-center">
  <div class="container main desk " >
    <div  class="row primary-content rounded overflow-hidden border" >
      <div class="col-md-6 p-5 bg-dark text-center">
        <div class="d-flex justify-content-center flex-column align-items-center h-75 p-5 text-center text-white">
          <img src="../../../assets/img/breakfast-login.jpg" alt="" >
          <h2 class="title">Bem vindo!</h2>
          <p>Para fazer Login, por favor entre com os seus Dados Cadastrais</p>
          <button type="button" class="btn btn-light" (click)="removerClasse()">Login</button>
        </div>
      </div>
      <div class="col-md-6 p-2 bg-white">
        <div class="text p-4">
          <div class="text-center">
            <h2 class="title">Bem vindo!</h2>
            <p>Use seu CPF para Registrar</p>
          </div>
          <form [formGroup]="formRegister">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Nome:</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="nome"
              [ngClass]="{ 'is-invalid': isNomeInvalid()}">
              <div class="invalid-feedback" *ngIf="isNomeInvalid()">
                *Campo obrigatório!
              </div>
            </div>
            <div class="mb-3">
              <label for="exampleInputLogin" class="form-label">CPF:</label>
              <input type="text" class="form-control" id="exampleInputLogin" aria-describedby="loginHelp" formControlName="login"
              [ngClass]="{ 'is-invalid': isCpfInvalid() }">
              <div class="invalid-feedback" *ngIf="isCpfInvalid()">
                *Campo obrigatório!
              </div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Senha:</label>
              <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password"
              [ngClass]="{ 'is-invalid': isPassReInvalid() }">
              <div class="invalid-feedback" *ngIf="isPassReInvalid()">
                *Campo obrigatório!
              </div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Confirmar Senha:</label>
              <input type="password" class="form-control" id="exampleInputPassword1" formControlName="passwordConfirm"
              [ngClass]="{ 'is-invalid': isPassConfReInval() }">
               <div class="invalid-feedback" *ngIf="isPassConfReInval()">
                *Campo obrigatório!
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-danger m-4" (click)="onCancel()">Cancelar</button>
              <button type="submit" class="btn btn-primary m-4" (click)="onSubmit()">Cadastrar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div [ngClass]="{ 'sign-up': classeLogin }" class="row secondy-content rounded overflow-hidden border">
      <div class="col-md-6 p-5 bg-white">
        <div class="text p-4">
          <div class="text-center">
            <h2 class="title">Fazer Login!</h2>
            <p>Use sua Conta</p>
          </div>
          <form [formGroup]="formLogin">
            <div class="mb-3">
              <label for="exampleInputLogin" class="form-label">CPF:</label>
              <input type="text" class="form-control" name="login" formControlName="login"
              [ngClass]="{ 'is-invalid': isloginInvalid() }">
              <div class="invalid-feedback" *ngIf="isloginInvalid()">
                *Campo obrigatório!
              </div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword" class="form-label">Senha:</label>
              <input type="password" class="form-control" name="password" formControlName="password"
                [ngClass]="{ 'is-invalid': isPasswordInvalid() }">
              <div class="invalid-feedback" *ngIf="isPasswordInvalid()">
                *Campo obrigatório!
              </div>
            </div>
            
            <div class="text-center">
              <button type="submit" class="btn btn-primary m-4" [disabled]="formLogin.invalid" (click)="onLogin()">Fazer Login</button>
            </div>
            <div class="text-danger text-center" *ngIf="showIncorrectPasswordMessage">
              Senha incorreta
            </div>
            <div class="text-success text-center d-flex flex-column justify-content-center align-items-center" *ngIf="loading">
              
              <div class="spinner-border text-primary" role="status" >
                <span class="visually-hidden">Loading...</span>
              </div>
              Enviando
            </div>
           
            
          </form>
   
        </div>
      </div>
      <div class="col-md-6 p-5 bg-dark text-center">
        <div class="d-flex justify-content-center flex-column align-items-center h-75 p-5 text-center text-white">
          <img src="../../../assets/img/breakfast-login.jpg" alt="" >
          <h2 class="title">Olá Crie uma Conta!</h2>
          <p>Entre com os seus dados e crie sua conta.</p>
          <button type="button" class="btn btn-light" (click)="adicionouClasse()">Cadastrar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="main mobile " >
    <div  class=" primary-content" >
      <div class="col-md-12 p-5 bg-dark text-center">
        <div class="d-flex justify-content-center flex-column align-items-center h-75 p-5 text-center text-white">
          <img src="../../../assets/img/breakfast-login.jpg" alt="" >
          <h2 class="title">Bem vindo!</h2>
          <p>Para fazer Login, por favor entre com os seus Dados Cadastrais</p>
          <button type="button" class="btn btn-light" (click)="removerClasse()">Login</button>
        </div>
      </div>
      <div class="col-md-12 p-2 bg-white">
        <div class="text p-4">
          <div class="text-center">
            <h2 class="title">Bem vindo!</h2>
            <p>Use seu CPF para Registrar</p>
          </div>
          <form [formGroup]="formRegister">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Nome:</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="nome"
              [ngClass]="{ 'is-invalid': isNomeInvalid()}">
              <div class="invalid-feedback" *ngIf="isNomeInvalid()">
                *Campo obrigatório!
              </div>
            </div>
            <div class="mb-3">
              <label for="exampleInputLogin" class="form-label">CPF:</label>
              <input type="text" class="form-control" id="exampleInputLogin" aria-describedby="loginHelp" formControlName="login"
              [ngClass]="{ 'is-invalid': isCpfInvalid() }">
              <div class="invalid-feedback" *ngIf="isCpfInvalid()">
                *Campo obrigatório!
              </div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Senha:</label>
              <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password"
              [ngClass]="{ 'is-invalid': isPassReInvalid() }">
              <div class="invalid-feedback" *ngIf="isPassReInvalid()">
                *Campo obrigatório!
              </div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Confirmar Senha:</label>
              <input type="password" class="form-control" id="exampleInputPassword1" formControlName="passwordConfirm"
              [ngClass]="{ 'is-invalid': isPassConfReInval() }">
               <div class="invalid-feedback" *ngIf="isPassConfReInval()">
                *Campo obrigatório!
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-danger m-4" (click)="onCancel()">Cancelar</button>
              <button type="submit" class="btn btn-primary m-4" (click)="onSubmit()">Cadastrar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div [ngClass]="{ 'sign-up': classeLogin }" class="row secondy-content rounded overflow-hidden border">
      <div class="col-md-6 p-5 bg-white">
        <div class="text p-4">
          <div class="text-center">
            <h2 class="title">Fazer Login!</h2>
            <p>Use sua Conta</p>
          </div>
          <form [formGroup]="formLogin">
            <div class="mb-3">
              <label for="exampleInputLogin" class="form-label">CPF:</label>
              <input type="text" class="form-control" name="login" formControlName="login"
              [ngClass]="{ 'is-invalid': isloginInvalid() }">
              <div class="invalid-feedback" *ngIf="isloginInvalid()">
                *Campo obrigatório!
              </div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword" class="form-label">Senha:</label>
              <input type="password" class="form-control" name="password" formControlName="password"
                [ngClass]="{ 'is-invalid': isPasswordInvalid() }">
              <div class="invalid-feedback" *ngIf="isPasswordInvalid()">
                *Campo obrigatório!
              </div>
            </div>
            
            <div class="text-center">
              <button type="submit" class="btn btn-primary m-4" [disabled]="formLogin.invalid" (click)="onLogin()">Fazer Login</button>
            </div>
            <div class="text-danger text-center" *ngIf="showIncorrectPasswordMessage">
              Senha incorreta
            </div>
            <div class="text-success text-center d-flex flex-column justify-content-center align-items-center" *ngIf="loading">
              
              <div class="spinner-border text-primary" role="status" >
                <span class="visually-hidden">Loading...</span>
              </div>
              Enviando
            </div>
           
            
          </form>
   
        </div>
      </div>
      <div class="col-md-6 p-5 bg-dark text-center">
        <div class="d-flex justify-content-center flex-column align-items-center h-75 p-5 text-center text-white">
          <img src="../../../assets/img/breakfast-login.jpg" alt="" >
          <h2 class="title">Olá Crie uma Conta!</h2>
          <p>Entre com os seus dados e crie sua conta.</p>
          <button type="button" class="btn btn-light" (click)="adicionouClasse()">Cadastrar</button>
        </div>
      </div>
    </div>
  </div>
</div>