img {
  width: 13rem;
  height:13rem;
  margin: 4rem;
  border-radius: 50%;
}
.container {
  position: relative;
  height: 80%;
}

.mobile {
  display: none;
}

.secondy-content, .primary-content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.wrapper .container .rounded {
  border-radius: 15px !important;
}

.secondy-content.sign-up {
  z-index: -5;
  animation: descloc 0.2s;
}
@keyframes descloc {
  from {
    left: 0;
    opacity: 1;
  }
  25% {
    left: -80px;
    opacity: .3;
  }
  50% {
    left: 100px;
    opacity: .2;
  }
  to {
    left: -110px;
    opacity: 0;
  }
}

@keyframes slidein {
  from {
    left: 0;
    width: 40%;
  }
  25% {
    left: 25%;
    width: 50%;
  }
  50% {
    left: 50%;
    width: 60%;
  }
  75% {
    left: 75%;
    width: 50%;
  }
  to {
    left: 60%;
    width: 40%;
  }
}


.valid {
  border-color: green;
}

.invalid {
  border-color: red;
}

.form-control {
  padding: 0.8rem 1.5rem;
  border-radius: 10px;
}

.btn {
  padding: .8rem 4rem;
  border-radius: 10px;
}

.success2 {
  color: #FFF;
}

.success {
  color: green;
}

.error {
  color: red;
}

@media (max-width: 765px ) {

  .desk {
    display: none;
  }

  .mobile {
    display: block;
  }

  .main {
    position: relative;
  }


  .secondy-mobile {
    position: absolute !important;
    top: 0;
    left: 0;
    z-index: -5;
  }

  .primary-mobile.sign-up {
    z-index: -5;
  }

  .secondy-mobile.sign-in {
    z-index: 2;
  }

  .hand-cursor {
    cursor: pointer;
  }


  .hand-cursor:hover {
    color: #CCC;
  }




}

