.spinner-border {
  position: absolute;
  top: 49%;
  right: 49%;
  z-index: 5;
}

.fa-user {
  font-size: 30px;
  color: #FFF;
  width: auto;
}

.navbar {
  width: auto !important;
}


.dropdown-menu-left {
  left: inherit !important;
  right: 0;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown {
  cursor: pointer;
}




